### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  

* Our peak age demographic (20-24) is also the highest spender at $1114.06. The second highest total purchase came from the 15-19 group, however, it is less than half of the 20-24 group.

* The players from the 35-39 age group spent the most on the game purchases compared to any other individuals in other age groups

* The most popular game is Final Critic with 13 total purchases. It is also the most profitable with total revenue at $59.99

-----

In [135]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head(3)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88

## Player Count

In [136]:
total_players = pd.Series(purchase_data["SN"].unique()).count()
player_dict = {"Total Players": total_players}
# Create a new summary DataFrame:
total_players_df = pd.DataFrame(player_dict,index=[0])
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [139]:
unique_items = pd.Series(purchase_data["Item ID"].unique()).count()
average_price = pd.Series(purchase_data["Price"]).mean()
number_of_purchases = pd.Series(purchase_data["Purchase ID"]).count()
total_revenue = pd.Series(purchase_data["Price"]).sum()

# Creating a new summary DataFrame:
purchasing_dict = {
    "Number of Unique Items":unique_items, 
    "Average Price":average_price, 
    "Number of Purchases":number_of_purchases, 
    "Total Revenue":total_revenue
    }
purchasing_summary_df = pd.DataFrame(purchasing_dict,index=[0])

# Using Map to format columns
purchasing_summary_df["Average Price"] = purchasing_summary_df["Average Price"].map("${:.2f}".format)
purchasing_summary_df["Total Revenue"] = purchasing_summary_df["Total Revenue"].map("${:.2f}".format)
purchasing_summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [142]:
gender_analysis_df = purchase_data.copy()
demographics_df = gender_analysis_df.groupby("Gender").nunique()

# Removing unrelated columns
demographics_df = demographics_df.drop(columns=["Purchase ID", "Age", "Gender", "Item ID", "Item Name", "Price"])

# Creating a new column and performing percentage calculations at the same time
demographics_df["Percentage of Players"] = demographics_df["SN"]/total_players * 100 
demographics_df.rename(columns={"SN":"Total Count"}, inplace=True)
# Using Map to format columns
demographics_df["Percentage of Players"] = demographics_df["Percentage of Players"].map("{:.2f}%".format)
demographics_df

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [143]:
# Calculating Total Purchase Value
grouped_gender_purchase_df = gender_analysis_df.groupby("Gender")
total_gender_purchase = grouped_gender_purchase_df["Price"].sum()

# Calculating Average Purchase Price
average_gender_purchase_price = grouped_gender_purchase_df["Price"].mean()

# Calculating Avg Total Purchase per Person
average_gender_purchase = total_gender_purchase/demographics_df["Total Count"]

# Counting total number of purchases
count_gender_purchase = grouped_gender_purchase_df["Item Name"].count()

# Creating a new summary DataFrame that contains all the information above
purchase_analysis_gender_df = pd.DataFrame({
    "Purchase Count": count_gender_purchase,
    "Average Purchase Price": average_gender_purchase_price,
    "Total Purchase Value": total_gender_purchase,
    "Avg Total Purchase per Person": average_gender_purchase})

# Using Map to format columns
purchase_analysis_gender_df["Average Purchase Price"] = purchase_analysis_gender_df["Average Purchase Price"].map("${:.2f}".format)
purchase_analysis_gender_df["Total Purchase Value"] = purchase_analysis_gender_df["Total Purchase Value"].map("${:.2f}".format)
purchase_analysis_gender_df["Avg Total Purchase per Person"] = purchase_analysis_gender_df["Avg Total Purchase per Person"].map("${:.2f}".format)

purchase_analysis_gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [145]:
age_data_df = purchase_data.copy()
bins = [0, 9, 14, 19, 24, 29, 34, 39, 120]
group_labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

# Slicing the data and placing it into bins. Also placing the data series into a new column inside of the age_data_df DataFrame
age_data_df["Age Group"] = pd.cut(age_data_df["Age"], bins, labels=group_labels, include_lowest = True)

# Creating a group based off of the bins
grouped_age_data_df = age_data_df.groupby("Age Group")

# Creating a new summary DataFrame
unique_age_df = pd.DataFrame(grouped_age_data_df["SN"].nunique())

# Creating a new column and performing percentage calculations at the same time
unique_age_df["Percentage of Players"] = unique_age_df["SN"]/total_players * 100 
unique_age_df.rename(columns={"SN":"Total Count"}, inplace=True)

# Using Map to format columns
unique_age_df["Percentage of Players"] = unique_age_df["Percentage of Players"].map("{:.2f}%".format)
unique_age_df

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [146]:
# Counting purchases by age group
count_age_purchase = grouped_age_data_df["Item Name"].count()

# Calculating Average Purchase Price
average_age_purchase_price = grouped_age_data_df["Price"].mean()

# Calculating Total Purchase Value
total_age_purchase = grouped_age_data_df["Price"].sum()

# Calculating Avg Total Purchase per Person
average_age_purchase = total_age_purchase/unique_age_df["Total Count"]

# Creating a new summary DataFrame that contains all the information above
purchase_analysis_age_df = pd.DataFrame({
     "Purchase Count": count_age_purchase, 
     "Average Purchase Price": average_age_purchase_price,
     "Total Purchase Value": total_age_purchase,
     "Avg Total Purchase per Person": average_age_purchase})

# Using Map to format columns
purchase_analysis_age_df["Average Purchase Price"] = purchase_analysis_age_df["Average Purchase Price"].map("${:.2f}".format)
purchase_analysis_age_df["Total Purchase Value"] = purchase_analysis_age_df["Total Purchase Value"].map("${:.2f}".format)
purchase_analysis_age_df["Avg Total Purchase per Person"] = purchase_analysis_age_df["Avg Total Purchase per Person"].map("${:.2f}".format)
purchase_analysis_age_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [148]:
top_spenders_data_df = purchase_data.copy()
grouped_top_spenders_df = top_spenders_data_df.groupby("SN")

# Counting purchases by player
count_top_spender_purchase = grouped_top_spenders_df["Item Name"].count()

# Calculating Average Purchase Price
avg_top_spender_price = grouped_top_spenders_df["Price"].mean()

# Calculating Total Purchase Value
total_top_spender_purchase = grouped_top_spenders_df["Price"].sum()

# Creating a new summary DataFrame that contains all the information above
top_spenders_purchase_df = pd.DataFrame({
    "Purchase Count": count_top_spender_purchase, 
    "Average Purchase Price": avg_top_spender_price,
    "Total Purchase Value": total_top_spender_purchase})

# Sorting the total purchase value column in descending order
sorted_total_spenders_df = top_spenders_purchase_df.sort_values("Total Purchase Value", ascending=False)

sorted_total_spenders_df["Total Purchase Value"] = sorted_total_spenders_df["Total Purchase Value"].map("${:.2f}".format)
sorted_total_spenders_df["Average Purchase Price"] = sorted_total_spenders_df["Average Purchase Price"].map("${:.2f}".format)

# Using Map to format columns
sorted_total_spenders_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [150]:
popular_items_data_df = purchase_data.copy()
grouped_popular_items_df = popular_items_data_df.groupby(["Item ID","Item Name"])

# Counting number of purchases
count_popular_purchase = grouped_popular_items_df["Item ID"].count()

# Calculating Total Purchase Value
total_popular_purchase = grouped_popular_items_df["Price"].sum()

# Creating a new DataFrame that contains all the information above
popular_items_purchase_df = pd.DataFrame({
    "Purchase Count": count_popular_purchase, 
    "Total Purchase Value": total_popular_purchase}
    )

# Create a new DataFrame with just Item ID and Price
item_price_df = popular_items_data_df.drop(columns=["Purchase ID", "SN", "Age", "Gender"]).drop_duplicates(subset = "Item Name", keep = "first")

# Merge popular_items_purchase_df to item_price_df to grab Item Price
merge_df = pd.merge(item_price_df, popular_items_purchase_df, on="Item ID", how = "left")

# Using Map to format columns
merge_df["Price"] = merge_df["Price"].map("${:.2f}".format)
merge_df["Total Purchase Value"] = merge_df["Total Purchase Value"].map("${:.2f}".format)
merge_df.head()

,Item ID,Item Name,Price,Purchase Count,Total Purchase Value
0,108,"Extraction, Quickblade Of Trembling Hands",$3.53,9,$31.77
1,143,Frenzied Scimitar,$1.56,6,$9.36
2,92,Final Critic,$4.88,13,$59.99
3,100,Blindscythe,$3.27,5,$16.35
4,131,Fury,$1.44,5,$7.20

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [151]:
# Sorting the total purchase value column in descending order
sorted_most_popular_df = merge_df.sort_values("Purchase Count", ascending=False).set_index("Item ID")
sorted_most_popular_df.head()

,Item Name,Price,Purchase Count,Total Purchase Value
Item ID,,,,
92,Final Critic,$4.88,13,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",$4.23,12,$50.76
108,"Extraction, Quickblade Of Trembling Hands",$3.53,9,$31.77
82,Nirvana,$4.90,9,$44.10
145,Fiery Glass Crusader,$4.58,9,$41.22